@charset "utf-8";

@media screen and (max-width: 479px) {
  .wrapper {
    width: 200px;
  }
  header {
    padding-right: 70px;
  }
  header div {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }
  aside {
    height: 100px;
    width: 100%;
  }
  main {
    padding: 20px 0 0 30px;
    height: 180px;
  }
  main div:last-child {
    margin-bottom: 10px;
  }
}