@charset "utf-8";

.wrapper {
  width: 400px;
  margin: auto;
}

header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #ffce7a;
}
header div {
  background: #fff;
  padding: 10px;
  gap: 10px;
  display: flex;
}
header p {
  width: 40px;
  height: 40px;
  margin: 0;
  background: #c2ffc8;
}
.container {
  display: flex;
}
aside {
  width: 150px;
  background: #9dddf4;
}
main {
  background: #c2ffc8;
  padding: 40px 60px 40px 40px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
main div {
  width: 140px;
  height: 40px;

  border: 5px solid #fff;
  background: #ffc2c5;
}
main div:last-child {
  margin-bottom: 0;
}

footer {
  height: 100px;
  background: #bea5ff;
}
